body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: lightgreen;
}

.btn {
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 30px;
    cursor: pointer;
}

.text {
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;
    font-size: 50px;
    background-color: #fff;
    color: lightseagreen;
}