body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#square {
  width: 150px;
  height: 150px;
  background-color: red;
  margin-top: 40px;
}


