@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.calender{
    background-color: black;
    color: lightgray;
    width: 450px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.header {
    padding: 20px 0;
    background-color: lightseagreen;
    border-radius: 10px 10px 0 0;
}

.month {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.date {
    text-align: center;
    font-size: 22px;
}

.weekdays {
    height: 50px;
    display: flex;
}

.weekdays div {
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.days div {
    font-size: 14px;
    margin: 3px;
    width: calc(446px / 7 - 6px);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.days div:hover:not(.empty) {
    border: 2px solid gray;
    cursor: pointer;
}

.today {
    background-color: lightseagreen;
}