body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.btn-box {
	text-align: center;
}

button {
	margin: 5px;
	padding: 5px 25px;
	font-size: 20px;
	cursor: pointer;
}

#red {
	color: red;
}

#blue {
	color: blue;
}

#block {
	width: 150px;
	height: 150px;
	background-color: black;
	margin: 20px auto 0 ;
}


