body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    position: relative;
    background-image: url(img/face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 440px;
}

#hour, #minute, #second {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 0;
    border-radius: 10px;
}

#hour {
    width: 10px;
    height: 90px;
}

#minute {
    width: 7px;
    height: 130px;
    opacity: 0.8;
}

#second{
    width: 5px;
    height: 150px;
    opacity: 0.6;
}

