body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    position: relative;
    background-image: url(img/face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 440px;
}

#hour, #minute, #second {
    background: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    border-radius: 10px;
}

#hour {
    width: 10px;
    height: 90px;
}

#minute {
    width: 7px;
    height: 130px;
}

#second{
    height: 180px;;
    width: 5px;
    background-color: #df2e2e;
}

#disc {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #df2e2e;
}

