.text {
    margin: 200px 0 50px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.buttons {
    text-align: center;
}

.buttons button {
    font-size: 24px;
    padding: 10px 15px;
    margin: 15px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

