body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    overflow: hidden;
}

.list {
    display: flex;
    justify-content: center;
    gap: 15px;;
}
  
.list div {
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid slateblue;
    padding: 10px 20px;
    cursor: pointer;
}

.list div:first-child {
    color: red;
}
  
  .list div:hover {
    color: red;
    user-select: none;
}

  
img {
    height: 200px;
    border: 2px solid cornflowerblue;
    padding: 15px;
}
  