body {
    background-color: #000;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 2s;
}

.center {
    z-index: 1;
}

.left {
    background-color: green;
}

.right {
    background-color: blue;
}